*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    box-shadow: 1px 1px 10px rgb(121, 0, 0);
    height: 50vh;
    margin-top: 100px;
    border-radius: 10px;
    position: relative;
}
.yesbtn{
    margin-top: 30px;
    width: 80px;
    height: 45px;
    margin-right: 50px;

}
.nobtn{
    margin-top: 30px;
    width: 80px;
    height: 45px;
   position: absolute;
}
.btns{
    margin-right: 100px;
}